<div class="container-fluid">
  <div class="block-title">
    <h3>- HARD & SOFT SKILLS -</h3>
  </div>

  <!-- hard skills ------------------------>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-2 text-center circles">
      <circle-progress
        [percent]="92"
        [radius]="100"
        [imageSrc]="'../../assets/img/html5.png'"
        [showImage]="true"
        [imageWidth]="160"
        [imageHeight]="160"
        [responsive]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#207FB2'"
        [innerStrokeColor]="'#303DBD'"
        [outerStrokeLinecap]="'butt'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-2 text-center circles">
      <circle-progress
        [percent]="83"
        [radius]="100"
        [imageSrc]="'../../assets/img/css3.png'"
        [showImage]="true"
        [imageWidth]="160"
        [imageHeight]="160"
        [responsive]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#207FB2'"
        [innerStrokeColor]="'#303DBD'"
        [outerStrokeLinecap]="'butt'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-2 text-center circles">
      <circle-progress
        [percent]="74"
        [radius]="100"
        [imageSrc]="'../../assets/img/js5.png'"
        [showImage]="true"
        [imageWidth]="160"
        [imageHeight]="160"
        [responsive]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#207FB2'"
        [innerStrokeColor]="'#303DBD'"
        [outerStrokeLinecap]="'butt'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-2 text-center circles">
      <circle-progress
        [percent]="70"
        [radius]="100"
        [imageSrc]="'../../assets/img/java.png'"
        [showImage]="true"
        [imageWidth]="160"
        [imageHeight]="160"
        [responsive]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#207FB2'"
        [innerStrokeColor]="'#303DBD'"
        [outerStrokeLinecap]="'butt'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-2 text-center circles">
      <circle-progress
        [percent]="79"
        [radius]="100"
        [imageSrc]="'../../assets/img/mysql.png'"
        [showImage]="true"
        [imageWidth]="160"
        [imageHeight]="160"
        [responsive]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#207FB2'"
        [innerStrokeColor]="'#303DBD'"
        [outerStrokeLinecap]="'butt'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-2 text-center circles">
      <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../assets/img/githubb.png'"
        [showImage]="true"
        [imageWidth]="160"
        [imageHeight]="160"
        [responsive]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#207FB2'"
        [innerStrokeColor]="'#303DBD'"
        [outerStrokeLinecap]="'butt'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress>
    </div>

  </div>

  <!-- soft-skills ------------------------>
  <div class="softskills">

    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 align-self-center text-center soft-skills">
        <p>Capacidad de comunicación</p>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 align-self-center text-center soft-skills2">
        <p>Trabajo en equipo</p>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 align-self-center text-center soft-skills3">
        <p>Resolución de problemas</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 align-self-center text-center soft-skills4">
        <p>Liderazgo</p>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 align-self-center text-center soft-skills5">
        <p>Flexibilidad</p>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 align-self-center text-center soft-skills6">
        <p>Motivación</p>
      </div>
    </div>
  </div>


</div>
