<div class="container-fluid">
  <div class="block-title">
    <h2>- FORMACIÓN ACADÉMICA -</h2>
  </div>

  <div class="datos-estudio">
      <div class="institucion">
        <h2>Lugar de estudio Nro 1</h2>
      </div>
      <div class="carrera">
        <p>titulo obtenido</p>
      </div>
      <div class="info-insti">
        <p>Calle 123, Miramar, Bs. As.</p>
      </div>
  </div>

  <div class="datos-estudio">
    <div class="institucion">
      <h2>Lugar de estudio Nro 2</h2>
    </div>
    <div class="carrera">
      <p>titulo obtenido</p>
    </div>
    <div class="info-insti">
      <p>Calle 123, Miramar, Bs. As.</p>
    </div>
  </div>

  <div class="datos-estudio">
    <div class="institucion">
      <h2>Lugar de estudio Nro 3</h2>
    </div>
    <div class="carrera">
      <p>titulo obtenido</p>
    </div>
    <div class="info-insti">
      <p>Calle 123, Miramar, Bs. As.</p>
    </div>
  </div>

  <div class="datos-estudio">
    <div class="institucion">
      <h2>Lugar de estudio Nro 4</h2>
    </div>
    <div class="carrera">
      <p>titulo obtenido</p>
    </div>
    <div class="info-insti">
      <p>Calle 123, Miramar, Bs. As.</p>
    </div>
  </div>

</div>
