<div class="container-fluid">
  <div class="block-title">
    <h3>- FORMACIÓN ACADÉMICA -</h3>
  </div>

  <div class="datos-estudio">
    <div class="institucion">
      <h3>Lugar de estudio Nro 1</h3>
    </div>
    <div class="carrera">
      <p>titulo obtenido</p>
    </div>
    <div class="info-insti">
      <p>Calle 123, Miramar, Bs. As.</p>
    </div>
  </div>

  <div class="datos-estudio">
    <div class="institucion">
      <h3>Lugar de estudio Nro 2</h3>
    </div>
    <div class="carrera">
      <p>titulo obtenido</p>
    </div>
    <div class="info-insti">
      <p>Calle 123, Miramar, Bs. As.</p>
    </div>
  </div>

  <div class="datos-estudio">
    <div class="institucion">
      <h3>Lugar de estudio Nro 3</h3>
    </div>
    <div class="carrera">
      <p>titulo obtenido</p>
    </div>
    <div class="info-insti">
      <p>Calle 123, Miramar, Bs. As.</p>
    </div>
  </div>

  <div class="datos-estudio">
    <div class="institucion">
      <h3>Lugar de estudio Nro 4</h3>
    </div>
    <div class="carrera">
      <p>titulo obtenido</p>
    </div>
    <div class="info-insti">
      <p>Calle 123, Miramar, Bs. As.</p>
    </div>
  </div>

</div>
