/* app component-------------------------------- */
.barra-nav .container-fluid {
  min-height: 60px;
  }

  .navbar-icons {
    width: .5vw;
  }

  #logoArgentina {
    height: 100%;
    display: flex;
  }

  #logoArg {
    height: 50px;
    margin-top: .3vw;
    margin-bottom: .3vw;
  }

  #logoArg2 {
    display: none;
  }

  #faceIco {
    max-width: 2.5em;
    color: white;
    margin-right: 1em;
    filter: invert(100%);
  }

  .modal-dialog {
    background-color: #373737;
  }

  .redes {
    margin-left: auto;
    margin-top: 1.5vw;
  }

  .navbar-toggler-icon {
    color: white;
  }

  /* media queries -------------------------------------------------   */

  @media (max-width: 576px) {

    #logoArg {
      display: none;
    }

    #logoArg2 {
      display: initial;
      height: 47px;
      margin-top: .1vw;
      margin-bottom: .1vw;
    }

    #faceIco {
      padding:none;
      margin: 1.5vw;
      margin-top: 3vw;
    }
  }
