<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
      <div class="logoArgentina">
          <!-- Logo de Argentina Programa -->
          <img src="https://i.ibb.co/cx37YSq/banner-ok-argentina-programa.png" alt="argPrograma logo" id="logoArg">
      </div>

      <!-- Toggler menu -->
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="redes">
        <!-- Íconos de las redes sociales -->
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="display: flex; align-items: center; justify-content: center">
          <li>
            <a href="http://" title="facebook"><img src="https://cdn-icons-png.flaticon.com/512/20/20837.png" id="faceIco" alt="facebook"></a>
          </li>
          <li>
            <a href="http://" title="instagram"><img src="https://cdn-icons.flaticon.com/png/512/3661/premium/3661391.png?token=exp=1656018530~hmac=d55aa82d363556fcaf4d42e91f5b0cf1" id="faceIco" alt="instagram"></a>
          </li>
          <li>
            <a href="http://" title="linkedin"><img src="https://cdn-icons.flaticon.com/png/512/3128/premium/3128219.png?token=exp=1656019772~hmac=dab2025404b130a90324a9a774aa517b" id="faceIco" alt="linkedin"></a>
          </li>
          <li>
            <a href="http://" title="github"><img src="https://cdn-icons.flaticon.com/png/512/4926/premium/4926624.png?token=exp=1656019820~hmac=f37653a556d78fe774ab80ba91c6fce6" id="faceIco" alt="github"></a>
          </li>
          <li><a href="http://" title="codepen"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111341.png" id="faceIco" alt="codepen" style="margin-right: 3em;"></a></li>

          <!-- Login -->
          <li><button type="button" class="btn btn-outline-warning me-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Login</button></li>
        </ul>

      </div>

    </div>
  </div>
</nav>

<!-- Banner -->
<app-banner></app-banner>
