<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
      <div class="logoArgentina">
          <!-- Logo de Argentina Programa -->
          <img src="https://i.ibb.co/cx37YSq/banner-ok-argentina-programa.png" alt="argPrograma logo" id="logoArg">
      </div>

      <!-- Toggler menu -->
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="redes">
        <!-- Íconos de las redes sociales -->
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="display: flex; align-items: center; justify-content: center">
          <li>
            <a href="http://facebook.com" target="_blank" title="facebook"><img src="https://cdn-icons-png.flaticon.com/512/747/747374.png" id="faceIco" alt="facebook"></a>
          </li>
          <li>
            <a href="http://instagram.com" target="_blank" title="instagram"><img src="https://cdn.icon-icons.com/icons2/887/PNG/512/Instagram_New_icon-icons.com_69008.png" id="faceIco" alt="instagram"></a>
          </li>
          <li>
            <a href="http://linkedin.com" target="_blank" title="linkedin"><img src="https://cdn1.iconfinder.com/data/icons/capsocial/500/linkedin-512.png" id="faceIco" alt="linkedin"></a>
          </li>
          <li>
            <a href="http://github.com" target="_blank" title="github"><img src="https://www.pngkey.com/png/full/442-4423783_twitter-logo-linkedin-logo-github-logo-github-square.png" id="faceIco" alt="github"></a>
          </li>
          <li><a href="http://codepen.io" target="_blank" title="codepen"><img src="https://cdn-icons-png.flaticon.com/512/785/785252.png" id="faceIco" alt="codepen" style="margin-right: 3em;"></a></li>

          <!-- Login -->
          <li><button type="button" class="btn btn-outline-warning me-2 loginTitle" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button></li>
        </ul>

      </div>

    </div>
  </div>
</nav>

<!-- Login -->
<app-login></app-login>

<!-- Banner -->
<app-banner></app-banner>
