<nav class="navbar navbar-expand-lg bg-black barra-nav">
  <div class="container-fluid">
      <div class="logoArgentina">
          <!-- Logo de Argentina Programa -->
          <img src="../assets/img/argProg.png" alt="argPrograma logo" id="logoArg">
          <!-- Logo pequeño -->
          <img src="../assets/img/argProg2.png" alt="argPrograma logo" id="logoArg2">
      </div>

    <!-- Toggler menu -->
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="redes nav navbar-nav">
        <!-- Íconos de las redes sociales -->
        <ul class="nav col-12 mb-2 justify-content-center" style="display: flex; align-items: center;">
          <li>
            <a href="http://facebook.com" target="_blank" title="facebook"><img src="../assets/img/facebook.png" id="faceIco" alt="facebook"></a>
          </li>
          <li>
            <a href="http://instagram.com" target="_blank" title="instagram"><img src="../assets/img/instagram.png" id="faceIco" alt="instagram"></a>
          </li>
          <li>
            <a href="http://linkedin.com" target="_blank" title="linkedin"><img src="../assets/img/linkedIn.png" id="faceIco" alt="linkedin"></a>
          </li>
          <li>
            <a href="http://github.com" target="_blank" title="github"><img src="../assets/img/github.png" id="faceIco" alt="github"></a>
          </li>
          <li><a href="http://codepen.io" target="_blank" title="codepen"><img src="../assets/img/codepen.png" id="faceIco" alt="codepen" style="margin-right: 3em;"></a></li>

          <!-- Login -->
          <li><button type="button" class="btn btn-lg btn-outline-warning me-2 loginTitle" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button></li>
        </ul>

      </div>

    </div>
  </div>
</nav>
