<div class="bg-dark text-secondary text-center aux">
  <div class="py-5">
    <p class="tituloBanner2">- ACERCA DE MI -</p>
    <div class="col-10 mx-auto">
      <p class="textoBanner2">Hello World! I'm Cristian, a Full Stack Web Developer who enjoys taking problems and turning them into delightful experiencies. I'm always ready to accept new challenges, whatever they may be.</p>
      <div class="row">
        <div class="col-6">
          <p class="items-acerca-de">
            &lt; logic lover &gt;
            <br>
            &lt; code-clean enthusiast &gt;
          </p>
        </div>
        <div class="col-6">
          <p class="items-acerca-de">
            &lt; self-taught devotee &gt;
            <br>
            &lt; hunger for knowledge &gt;
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
