#fotoPerfil {
  width: 150%;
  margin-top: -50%;
  z-index: 1;
}

#acercaDe {
  text-align: center;
  padding: 2% 10%;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

/* media queries--------------------------------------------- */
@media (max-width: 575.8px) {
  .foto {
    text-align: center;
  }

  #fotoPerfil {
    width: 50%;
    margin-top: -15%;
    filter: drop-shadow(3px 0 0 white)
            drop-shadow(0 3px 0 white)
            drop-shadow(-3px 0 0 white)
            drop-shadow(0 -3px 0 white);
  }

}

hr {
  color: white;
}
