<div class="grid-container">
  <div class="titulo">
    <p class="tituloBanner2">- ACERCA DE MI -</p>
  </div>
  <div class="about">
    <p class="textoBanner2">Hello World! I'm Cristian, a Full Stack Web Developer who enjoys taking problems and turning them into delightful experiencies. I'm always ready to accept new challenges, whatever they may be.</p>
  </div>
  <div class="items-1">
    <p class="items-acerca-de">
      &lt; logic lover &gt;
      <br>
      &lt; code-clean enthusiast &gt;
    </p>
  </div>
  <div class="items-2">
    <p class="items-acerca-de">
      &lt; self-taught devotee &gt;
      <br>
      &lt; hunger for knowledge &gt;
    </p>
  </div>
</div>
