.grid-container {
  display: grid;
  grid-template-columns: 20% auto;
  gap: 0px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0%;
}

.grid-container > div {
  text-align: center;
  padding: 3vh;
  font-size: 125%;
  color: white;
}

.año {
  grid-row-start: 1;
  grid-row-end: 4;
  border-right: 1px solid white;
  text-align: center;
}

.lugar {
  font-size: 100%;
}

.cargo {
  font-size: 110%;
  font-style: italic;
  font-weight: 400;
}

.tareas {
  font-weight: 200;
}

/* media queries ----------------------------- */
@media (max-width: 575.8px) {
  .grid-container {
    grid-template-columns: 25% auto;
  }
}
