<div class="container-fluid">
  <div class="block-title">
    <h2>- EXPERIENCIA LABORAL -</h2>
  </div>

  <div class="grid-container">
    <div class="año">
      <p>1999 - 2001</p>
    </div>
    <div class="cuerpo">
      <div class="lugar">
        <h2>Lugar de trabajo Nro 1</h2>
      </div>
      <div class="cargo">
        <p>Cargo ocupado</p>
      </div>
      <div class="tareas">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quo dolorum minus suscipit natus voluptatibus molestiae esse in quae atque. Ratione autem molestiae itaque necessitatibus iste illo odio obcaecati iusto.</p>
      </div>
    </div>
  </div>

  <div class="grid-container">
    <div class="año">
      <p>1999 - 2001</p>
    </div>
    <div class="cuerpo">
      <div class="lugar">
        <h2>Lugar de trabajo Nro 1</h2>
      </div>
      <div class="cargo">
        <p>Cargo ocupado</p>
      </div>
      <div class="tareas">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quo dolorum minus suscipit natus voluptatibus molestiae esse in quae atque. Ratione autem molestiae itaque necessitatibus iste illo odio obcaecati iusto.</p>
      </div>
    </div>
  </div>

  <div class="grid-container">
    <div class="año">
      <p>1999 - 2001</p>
    </div>
    <div class="cuerpo">
      <div class="lugar">
        <h2>Lugar de trabajo Nro 1</h2>
      </div>
      <div class="cargo">
        <p>Cargo ocupado</p>
      </div>
      <div class="tareas">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quo dolorum minus suscipit natus voluptatibus molestiae esse in quae atque. Ratione autem molestiae itaque necessitatibus iste illo odio obcaecati iusto.</p>
      </div>
    </div>
  </div>

</div>
